.fundoLogin {
    background-image: url("https://ik.imagekit.io/q5tv5x3k8/blog%20pessoal/glass-smartphone-high-tech-innovation-ai-technology.jpg?updatedAt=1740143661190");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}